.roomListcontainer{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patientListcontainer{
    width: 100%;
    height: 100vh;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.singlePatientcontainer{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}